{% extends 'base.html.twig' %}

{% block title %}Motive{% endblock %}

{% block body %}
    <h1>Motiv editieren</h1>
    <a href="{{ path('motive_show') }}" class="btn btn-secondary mb-3">Übersicht</a>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.subtitle) }}
    {{ form_row(form.description) }}
    {{ form_row(form.seo_title) }}
    {{ form_row(form.seo_description) }}
    {{ form_row(form.seo_url) }}
    {{ form_row(form.public) }}
    <label for="file">Image-Upload (jpg, png)</label>
    {{ form_widget(form.file, {'attr': {'class': 'form-control file'}}) }}

    <button type="submit" class="btn btn-primary mt-3">Speichern</button>

    <h5 class="mt-3 mb-3">Motivbilder verwalten:</h5>
    {% for image in form.images %}
        {% set id = image.vars.value.id %}
        {% if files is defined and files[id] is defined %}
            <a href="{{ files[id].url }}" target="_blank" class="btn-link btn-block mt-2 mb-0">
                <img src="{{ files[id].url }}" alt="{{ files[id].name }}" class="img-thumbnail mr-3" width="100">{{ files[id].name }}
            </a>
        {% endif %}
        {{ form_row(image.id, {'attr': {'class': 'hidden'}}) }}
        {{ form_row(image.filename, {'attr': {'class': 'hidden'}}) }}
        {{ form_row(image.type) }}
        <hr>
    {% endfor %}

    {{ form_end(form) }}
{% endblock %}
