{% extends 'base.html.twig' %}

{% block title %}Motive{% endblock %}

{% block body %}
    <h1>Motive</h1>
    <p>User ID is fixed by: <b>1</b></p>
    <a href="{{ path('motiv_create') }}" class="btn btn-primary mb-3">New Motiv</a>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Id:</th>
            <th>Titel:</th>
            <th>Subtitel:</th>
            <th>SEO-Url:</th>
            <th>Public Hash:</th>
            <th class="text-right">Online:</th>
            <th class="text-right">Updated:</th>
        </tr>
        {% if motive is defined %}
            {% for motiv in motive %}
                <tr>
                    <td>
                        <a href="{{ path('motiv_edit', {'publicHash': motiv.publicHash}) }}" class="btn btn-primary btn-sm">Edit</a>
                    </td>
                    <td>{{ motiv.id }}</td>
                    <td>{{ motiv.title }}</td>
                    <td>{{ motiv.subtitle }}</td>
                    <td>{{ motiv.seoUrl }}</td>
                    <td>{{ motiv.publicHash }}</td>
                    <td class="text-right">
                        {% if motiv.public == true %}
                            <span class="text-primary">Aktiv</span>
                        {% else %}
                            <span class="text-danger">Gesperrt</span>
                        {% endif %}
                    </td>
                    <td class="text-right">{{ motiv.updated|date('d.m.Y H:i:s') }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}
