{% extends 'base.html.twig' %}

{% block title %}Motive{% endblock %}

{% block body %}
    <h1>Motiv create</h1>
    <a href="{{ path('motive_show') }}" class="btn btn-secondary mb-3">Übersicht</a>

    {{ form(form) }}
{% endblock %}