<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Your custom styles (optional) -->
        <link href="/css/style.css" rel="stylesheet">


        {% block stylesheets %}
            <style>
                .hidden {
                    display: none
                }
                .custom-file-label {
                    display: none !important;
                }

                .custom-file-input {
                    opacity: 1;
                    width: 100%;
                    height: auto;
                }
            </style>
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Motive</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('motive_show') }}">Show all</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('motiv_create') }}">Create</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container mt-5 pl-0 pr-0 pt-3">
        <div class="container pb-5">
            {% block body %}{% endblock %}
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    </body>
</html>
